* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

header {
  display: flex;
  align-items: center;
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  justify-content: space-evenly;
  background: #ff0000;
  color: #fff;
  min-height: 10vh;
  text-align: center;
}

.year {
  font-weight: 300;
}

ul,
ol {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-left: 0;
  border: 1px solid #eaeaea;
  font-size: calc(16px + (21 - 16) * ((100vw - 300px) / (1600 - 300)));
}

.days li .active {
  padding: 10px;
  background: #ff0000;
  border-radius: 50%;
  color: #fff;
}

ul.weekdays {
  background-color: #cccccc;
}

ul.weekdays li {
  height: 4vw;
}

ol.days li {
  background-color: #fff;
  height: 12vw;
  max-height: 125px;
}

ul.weekdays abbr[title] {
  border: none;
  text-decoration: none;
}

ol.days li:nth-child(6),
ol.days li:nth-child(7),
ol.days li:nth-child(13),
ol.days li:nth-child(14),
ol.days li:nth-child(20),
ol.days li:nth-child(21),
ol.days li:nth-child(27),
ol.days li:nth-child(28),
ol.days li:nth-child(34),
ol.days li:nth-child(35) {
  background-color: #f2f2f2;
}

.month-prev,
.month-next {
  color: #808080;
}

@media all and (max-width: 800px) {
  ul.weekdays li {
    font-size: 0;
  }

  ul.weekdays > li abbr:after {
    content: attr(title);
    font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
  }
}
